{% for atividade in listAtividade %}
    {% set pessoa = atividade.pessoa %}
    <tr>
        <td>{{ atividade.id|e }}</td>
        <td>{{ atividade.nome|e }}</td>
        <td>{{ pessoa.nome|e }}</td>
        <td>{{ atividade.custo|e }}</td>
        <td>{{ atividade.dataconclusao|date("d/m/Y")|e }}</td>
    </tr>
{% endfor %}